@tailwind base;
@tailwind components;
@tailwind utilities;

nav li {
   @apply m-3
  text-xl font-medium
  rounded
  text-white bg-emerald-700
  transition-all duration-300 ease-in-out
  hover:bg-emerald-900 hover:text-emerald-100 hover:font-semibold hover:translate-x-1;
}

.smooth {
   @apply transition-all duration-300 ease-in-out;
}

button {
   @apply bg-emerald-700 text-white 
  py-3 px-7
  disabled:opacity-50 disabled:cursor-not-allowed
  font-semibold  text-lg rounded-r;
}

label {
   @apply p-3 font-bold;
}

input,
select {
   @apply w-full py-1 px-3 m-1
  font-semibold
  rounded
  text-emerald-950 bg-slate-100
  border-2 border-transparent
  focus:outline-none
  focus:border-dashed focus:border-emerald-700 focus:border-2;
}

option {
   @apply font-semibold
  text-emerald-950;
}

table {
   @apply w-full
  text-lg font-semibold
  text-emerald-950;
}

thead {
   @apply sticky top-0 shadow-lg z-10;
}

td {
   @apply py-1 px-3 border;
}

thead tr {
   @apply bg-emerald-700 text-white text-center z-50;
}
